<div id="A21D17_graph" style="height: 400px;"></div>

<script>

    data = {{ elections_data.A21D17 |safe }};
    make_viz_A21D17_graph(data);

    var es_ES = {
        "decimal": ",",
        "thousands": ".",
        "grouping": [3],
        "currency": ["€", ""],
        "dateTime": "%a %b %e %X %Y",
        "date": "%d/%m/%Y",
        "time": "%H:%M:%S",
        "periods": ["AM", "PM"],
        "days": ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"],
        "shortDays": ["Dom", "Lun", "Mar", "Mi", "Jue", "Vie", "Sab"],
        "months": ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
        "shortMonths": ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"]
    };

    var es_delt = d3.locale(es_ES);

    var numberFormat = es_delt.numberFormat(",.0f");

    function make_viz_A21D17_graph(data){
        var visualization = d3plus.viz()
            .container("#A21D17_graph")  // container DIV to hold the visualization
            .data(data)
            .type("bar")
            .id("Partit")
            .x({
                "value": "Acrònim",
                "grid": false,
                "label": " "
            })
            .y({
                "value": "Vots",
                "grid": false
            })
            .color('color')
            .background("#f5f5f5")
            .axes({"background": {"color": "#f5f5f5"}})
            .order("Vots")
            .text("Partit")
            .icon({
                "style": "default",
                "value": "image"
            })
            .labels({
                "text": "Percentatge",
                "resize": true,
                "font": {"size": 14}
            })
            .legend({
                "labels": false,
                "icons": true,
                "order": {"value": "size", "sort": "desc"}
            })
            .tooltip({
                "share": true,
                "value": ["Vots", "Percentatge"]
            })
            .format({
                "text": function(text,key){
                    return text;
                },
                "number": function(number, params) {
                    if (params.key == "Percentatge"){
                        return number.toFixed(2)+"%";
                    } else {
                        return numberFormat(number);
                    }
                }})
            .font({ "family": "Raleway",
                "size": 14,
                "color": "black"
            })
            .title({
                value: "Eleccions autonòmiques",
                sub: "21 desembre 2017",
                "font":{"size": 18}
            })
            .draw()
    }

</script>