<div id="arros_graph" style="height: 700px"></div>

<script>
    $('#arros_graph').highcharts({
        chart: {
            type: 'pie',
            style: {
                fontFamily: "Raleway",
                lineHeight: '50px', fontSize: '48px', textOutline: false
            },
            backgroundColor: "#f5f5f5"
        },
        title: {
            text: "El Cicle de l'arròs i les Jornades Gastronòmiques",
            style: {"fontFamily": "Raleway"}
        },
        yAxis: {
            title: {
                text: ''
            }
        },
        plotOptions: {
            pie: {
                shadow: false,
                ignoreHiddenPoint: false,
                center: ['50%', '50%']
            }
        },
        tooltip: {
            formatter: function () {
                return this.point.description;
            },
            shared: true
        },
        series: [{
            name: 'mesos',
            data: [
                {
                    name:'Gener',
                    y:31,
                    color: "#d3d3d3"
                },
                {
                    name:'Febrer',
                    y:31,
                    color: "#d3d3d3"
                },
                {
                    name:'Març',
                    y:31,
                    color: "#81C0D9"
                },
                {
                    name:'Abril',
                    y:31,
                    color: "#81C0D9"
                },
                {
                    name:'Maig',
                    y:31,
                    color: "#05A48C"
                },
                {
                    name:'Juny',
                    y:31,
                    color: "#05A48C"
                },
                {
                    name:'Juliol',
                    y:31,
                    color: "#FFE066"
                },
                {
                    name:'Agost',
                    y:31,
                    color: "#FFE066"
                },
                {
                    name:'Setembre',
                    y:31,
                    color: "#A87639"
                },
                {
                    name:'Octubre',
                    y:31,
                    color: "#A87639"
                },
                {
                    name:'Novembre',
                    y:31,
                    color: "#81C0D9"
                },
                {
                    name:'Desembre',
                    y:31,
                    color: "#81C0D9"
                }
            ],
            dataLabels: {distance: -60, x: 0, y: -6,
                style: { fontFamily: "Raleway", lineHeight: '20px', textOutline: false }},
            enableMouseTracking: false,
            size: '68%',
            innerSize: '40%'
        }, {
            name: 'Èpoques',
            data: [
                {
                    name:'Hidden',
                    y:62,
                    visible: false
                },
                {
                    name: "Inundació",
                    description: "Inundació dels camps després d'abonar-los",
                    y:62,
                    color: "#138AB1"
                },
                {
                    name: "Creixement",
                    description: "Creixement de l'arròs als camps",
                    y:62,
                    color: "#007169"
                },
                {
                    name:'Creixement i maduració',
                    description: "Creixement i maduració de l'arròs",
                    y:62,
                    color: "#E8C03C"
                },
                {
                    name:'Sega',
                    description: "Sega dels camps d'arròs",
                    y:62,
                    color: "#8C6230"
                },
                {
                    name:'Inundació',
                    description: "Inundació per a protegir la flora i la fauna de les zones humides",
                    y:62,
                    color: "#138AB1"
                }
            ],
            dataLabels: {
                style: { fontFamily: "Raleway", lineHeight: '16px', fontSize: '18px', width: '200px', textOutline: false}, x: 5, connectorColor: "#f5f5f5", distance: 30
            },
            size: '80%',
            innerSize: '85%'
        }, {
            name: 'Events',
            data: [
                {
                    name:'Hidden',
                    y:70,
                    visible: false
                },
                {
                    name:'Jornades de la tellerina',
                    description: "Del 8 al 25 de març",
                    y:17,
                    color: "#3F3D3A"
                },
                {
                    name:'Hidden',
                    y:55,
                    visible: false
                },
                {
                    name:'Mescla: Mostra de Gastronomia i Turisme',
                    description: "Del 18 al 20 de maig",
                    y:3,
                    color: "#3F3D3A"
                },
                {
                    name:'Hidden',
                    y:47,
                    visible: false
                },
                {
                    name:'Jornades del musclo',
                    description: "Del 6 al 22 de juliol",
                    y:16,
                    color: "#3F3D3A"
                },
                {
                    name:'Hidden',
                    y:39,
                    visible: false
                },
                {
                    name:"Jornades de l'arròs",
                    description: "Del 31 d'agost al 16 de setembre",
                    y:17,
                    color: "#3F3D3A"
                },
                {
                    name:'Hidden',
                    y:21,
                    visible: false
                },
                {
                    name:"Volta i tapa't",
                    description: "Del 6 al 21 d'octubre",
                    y:15,
                    color: "#3F3D3A"
                },
                {
                    name:'Hidden',
                    y:19,
                    visible: false
                },
                {
                    name:"Jornades de l'ànec",
                    description: "Del 9 al 25 de novembre",
                    y:16,
                    color: "#3F3D3A"
                },
                {
                    name:'Hidden',
                    y:37,
                    visible: false
                }
            ],
            dataLabels: {
                style: { fontFamily: "Raleway", lineHeight: '16px', width: '300px', textOutline: false}, distance: 25
            },
            size: '87%',
            innerSize: '87%'
        }]
    });
</script>