<div id="unemployment_graph"></div>

<script>

    data = {{ unemployment_data |safe }}
    make_viz_atur(data);
    function make_viz_atur(data){
        var visualization = d3plus.viz()
            .container("#unemployment_graph")
            .data(data)
            .type("line")       // visualization type
            .id("Sexe")         // key for which our data is unique on
            // .text("Any")       // key to use for display text
            .y({"value": "Atur", "grid": false, "range": [0,15], "ticks": [0, 3, 6, 9, 12, 15]})         // key to use for y-axis
            .x({"value": "Any", "grid": false})          // key to use for x-axis
            .color("Color")
            .font({ "family": "Raleway",
                "size": 14
            })
            .title({
                value: "Percentatge d'atur per sexe",
                "font":{"size": 18}
            })
            .format({
                "text": function(text,key){
                    return text
                },
                "number": function(number, params) {
                    if (params.key == "Atur"){
                        return number.toFixed(1) + "%"}
                    else{
                        return number;
                    }
                }
            })
            .legend({
                "labels": true,
                "size": 35,
                "order": "id",
                "data": false,
                "font": {"size": 10}
            })
            // .labels(true)
            .tooltip({
                "share": true,
                "value": ["Mes", "Visitants"]
            })
            .order(function(d) {
                return ["Desembre", "Novembre", "Octubre", "Setembre", "Agost", "Juliol", "Juny", "Maig", "Abril", "Març", "Febrer", "Gener"].indexOf(d.Mes)}
            )
            .draw();
    }
</script>