<div id="contracts_graph" style="height: 400px;"></div>

<script>
    data = {{ contracts_data |safe }}
    make_viz_oberts(data);

    var es_ES = {
        "decimal": ",",
        "thousands": ".",
        "grouping": [3],
        "currency": ["€", ""],
        "dateTime": "%a %b %e %X %Y",
        "date": "%d/%m/%Y",
        "time": "%H:%M:%S",
        "periods": ["AM", "PM"],
        "days": ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"],
        "shortDays": ["Dom", "Lun", "Mar", "Mi", "Jue", "Vie", "Sab"],
        "months": ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
        "shortMonths": ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"]
    };

    var es_delt = d3.locale(es_ES);

    var numberFormat = es_delt.numberFormat(",.0f");

    // instantiate d3plus
    function make_viz_oberts(data){
        var visualization = d3plus.viz()
            .container("#contracts_graph")  // container DIV to hold the visualization
            .data(data)
            .type("bar")
            .id("Empresa")
            .x({
                "value": "Import",
                "grid": false,
                "ticks": [100000,500000,1000000,1500000,2000000,2500000]
            })
            .y({
                "value": "Empresa",
                "scale": "discrete",
                "grid": false,
                "label": false
            })
            .order("Total")
            .text("Empresa")
            .legend(false)
            .tooltip({
                "value": ["Descripció", "Import"]
            })
            .labels(false)
            .font({ "family": "Raleway",
                "size": 14
            })
            .background("#f5f5f5")
            .axes({"background": {"color": "#f5f5f5"}})
            .title({
                value: "Contractes oberts",
                "font": {"size": 18}
            })
            .format({
                "text": function(text,key){
                    return text
                },
                "number": function(number, params) {
                    return numberFormat(number) + " €";
                }
            })
            .order("Import")
            .color("color")
            .time({
            "value": "Any",
            "solo": 2017
            })
            .timeline({"align": "middle"})
            .draw()
    }


</script>