<div id="edad_sexe_graph"></div>

<script>

    data ={{ gender_age_data |safe }};
    make_viz_edad_sexe(data);

    var es_ES = {
        "decimal": ",",
        "thousands": ".",
        "grouping": [3],
        "currency": ["€", ""],
        "dateTime": "%a %b %e %X %Y",
        "date": "%d/%m/%Y",
        "time": "%H:%M:%S",
        "periods": ["AM", "PM"],
        "days": ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"],
        "shortDays": ["Dom", "Lun", "Mar", "Mi", "Jue", "Vie", "Sab"],
        "months": ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
        "shortMonths": ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"]
    };

    var es_delt = d3.locale(es_ES);

    var numberFormat = es_delt.numberFormat(",.0f");

    function make_viz_edad_sexe(data){
        var visualization = d3plus.viz()
            .container("#edad_sexe_graph")
            .data(data)
            .type("bar")
            .id("Gènere")
            .x({
                "value": "Edats",
                "grid": false})
            .y({
                "value": "Recompte",
                "grid": false,
                "range": [0,1050]
            })
            .format({
                "text": function(text,key){
                    return text
                },
                "number": function(number, params) {
                    return numberFormat(number);

                }
            })
            .color("Color")
            .font({ "family": "Raleway",
                "size": 14,
                "color": "black"
            })
            .title({
                "value": "Distribució de la població per edat i sexe",
                "font": {"size": 18}
            })
            .time({
                "value": "Any",
                "solo": 2017
            })
            .timeline({"align": "middle"})
            .legend({"size": 35, "order": "size", "font": {"size": 10}})
            .order(function(d) {
                return ["100 - 109", "90 - 99", "80 - 89", "70 - 79", "60 - 69", "50 - 59", "40 - 49", "30 - 39", "20 - 29", "10 - 19", "0 - 9"].indexOf(d.Edats)}
            )
            .draw()
    }
</script>