<div id="serveis_graph" style="position: relative; width: 570px; height: 362.6px;"></div>

<script>
    data = {{ turistic_data |safe }};
    make_viz_serveis(data);

    function make_viz_serveis(data){
        d3plus.viz()
            .container("#serveis_graph")
            .data(data)
            .type("pie")
            .id("Servei")
            .size("Total")
            .format({
                "text": function(text,key){
                    if (text=="share"){
                        return "Percentatge";
                    } else{
                        return text.charAt(0).toUpperCase() + text.substr(1).toLowerCase()
                    }
                },
                "number": function(number, params) {
                    if (params.key == "share") {
                        return number.toFixed(2) + "%"
                    } else {return number}
                }})
            .legend(false)
            .color("Color")
            .background("#f5f5f5")
            .font({ "family": "Raleway",
                "size": 14
            })
            .title({
                value: "Serveis turístics a Deltebre",
                "font":{"size": 18}
            })
            .draw()
    }
</script>