<style>
    .collapsible_ta {
        background-color: #acacac;
        color: #f5f5f5;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }
    
    .active_ta, .collapsible_ta:hover {
        background-color: #7a7a7a;
    }
    
    .collapsible_ta:after {
        content: '\002B';
        color: white;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }
    
    .active_ta:after {
        content: "\2212";
    }
    
    .content_ta {
        padding: 0 0px;
        max-height: 0;
        overflow: auto;
        transition: max-height 0.2s ease-out;
        background-color: #f1f1f1;
        height: 500px;
    }
</style>

<button class="collapsible_ta">Llistat d'associacions</button>
<div class="content_ta">

<table class="table table-bordered table-hover table-condensed">
<thead><tr><th title="Field #1">Tipus</th>
<th title="Field #2">Nom entitat</th>
<th title="Field #3">President/a</th>
<th title="Field #4">Adreça</th>
<th title="Field #5">Codi postal</th>
<th title="Field #6">Població</th>
<th title="Field #7">Telèfon 1</th>
<th title="Field #8">Telèfon 2</th>
<th title="Field #9">Email</th>
<th title="Field #10">Web</th>
</tr></thead>
<tbody><tr>
<td>Cívica</td>
<td>Associació Penya Barcelonista 20 de Maig Deltebre</td>
<td>Joan Cardona Casanova</td>
<td>Av. La Pau, s/n (Cambra Agrària de Jesús i Maria)</td>
<td>43580</td>
<td>Deltebre</td>
<td>622098032</td>
<td>636262678</td>
<td>monicariusnavarro@hotmail.com</td>
<td> </td>
</tr>
<tr>
<td>Cívica</td>
<td>Associació de Voluntaris del Parc Natural del Delta de l&#39;Ebre</td>
<td>Pere Magrané Fonts</td>
<td>Av. Catalunya, 46</td>
<td>43580</td>
<td>Deltebre</td>
<td>615548881</td>
<td>977482181</td>
<td>voluntarispnde@gmail.com</td>
<td> </td>
</tr>
<tr>
<td>Cívica</td>
<td>Associació Ornitològica de l&#39;Ebre</td>
<td>Irene Brull Franch</td>
<td>C/ Verge del Carme, 3</td>
<td>43580</td>
<td>Deltebre</td>
<td>639825781</td>
<td>977480571</td>
<td>info@aodelebre.com</td>
<td>www.aodelebre.com</td>
</tr>
<tr>
<td>Cívica</td>
<td>Associació Ornitològica Picampall de les Terres de l&#39;Ebre</td>
<td>Albert Bertolero</td>
<td>Av. Catalunya, 46</td>
<td>43580</td>
<td>Deltebre</td>
<td>630645087 (Mariano Cebolla)</td>
<td>608865566</td>
<td>info@picampall.org</td>
<td> </td>
</tr>
<tr>
<td>Cívica</td>
<td>Associació de Veïns de Riumar</td>
<td>Juan Miguel Bellaubí Garcia</td>
<td>C/ Habana, 154</td>
<td>43580</td>
<td>Deltebre</td>
<td>608567846</td>
<td></td>
<td>avriumar@gmail.com</td>
<td> </td>
</tr>
<tr>
<td>Cívica</td>
<td>Riumar Associació</td>
<td>Joana Figueres Bertomeu</td>
<td>C/ Fotja, 20F  C.D.15</td>
<td>43580</td>
<td>Deltebre</td>
<td>660380594</td>
<td>696730393</td>
<td>magramun@xtec.cat</td>
<td> </td>
</tr>
<tr>
<td>Cívica</td>
<td>Associació de Veïns Gent del Barri</td>
<td>Raimon Pons</td>
<td>Av. Nostra Senyora de l&#39;Assumpció, 170B</td>
<td>43580</td>
<td>Deltebre</td>
<td>679783006</td>
<td>639029741</td>
<td>lauralucasbo@gmail.com</td>
<td> </td>
</tr>
<tr>
<td>Cívica</td>
<td>Associació de Veïns lo Barracot</td>
<td>Beatriu Serra Callau</td>
<td>C/ Barracot, 32 B</td>
<td>43580</td>
<td>Deltebre</td>
<td>606208036</td>
<td>675856334</td>
<td>bea@rull.co</td>
<td> </td>
</tr>
<tr>
<td>Cívica</td>
<td>Associació Veïnal Delta</td>
<td>Pasqual Chacón</td>
<td>C/ Sant Miquel, 70</td>
<td>43580</td>
<td>Deltebre</td>
<td>609323931</td>
<td></td>
<td>condelt.pascual@dsi.es</td>
<td> </td>
</tr>
<tr>
<td>Cívica</td>
<td>Associació de Veïns de Jesús i Maria</td>
<td>Jennifer Caballero Miró</td>
<td>C/ Mestre Fèlix Gràcia, s/n (Plaça Elena Errea)</td>
<td>43580</td>
<td>Deltebre</td>
<td>696813117</td>
<td></td>
<td>a.v.jim@hotmail.com</td>
<td> </td>
</tr>
<tr>
<td>Cívica</td>
<td>Protectora DeltaRescat</td>
<td>Marina Gil Bo</td>
<td>C/ Cordoba, 1, 2n, 3a</td>
<td>43580</td>
<td>Deltebre</td>
<td>655153776</td>
<td></td>
<td>deltarescat@gmail.com</td>
<td> </td>
</tr>
<tr>
<td>Cívica</td>
<td>Progat Deltebre</td>
<td>Maria Saray Segarra Turon</td>
<td>C/ Bruc, 14</td>
<td>43580</td>
<td>Deltebre</td>
<td>658097441</td>
<td></td>
<td>progatdeltebre@gmail.com</td>
<td> </td>
</tr>
<tr>
<td>Cívica</td>
<td>Associació de Voluntaris Protecció Civil de Deltebre</td>
<td>M. Luz Torrent Bonet</td>
<td>Plaça 20 de Maig, s/n</td>
<td>43580</td>
<td>Deltebre</td>
<td>675568104</td>
<td></td>
<td>protecciocivil@deltebre.cat</td>
<td> </td>
</tr>
<tr>
<td>Cívica</td>
<td>Assemblea Popular Lo Maset</td>
<td>Gina Casanova Mulet</td>
<td>C/ Estació, 45</td>
<td>43580</td>
<td>Deltebre</td>
<td>606182286</td>
<td>647046906</td>
<td>csocentresocial@gmail.com</td>
<td> </td>
</tr>
<tr>
<td>Cívica</td>
<td>The Gold Cars Tuning Club</td>
<td>Marc Antoni Simon Hurtado</td>
<td>Av. Robert Graupera, 208</td>
<td>43580</td>
<td>Deltebre</td>
<td>667291661</td>
<td>634968372</td>
<td>marc_newstyle@hotmail.com</td>
<td> </td>
</tr>
<tr>
<td>Cívica</td>
<td>Comunitat de Jerusalem</td>
<td>Juan Carlos Castanyo de la Asunción</td>
<td>Travesia Mestre Fèlix Gràcia, 2</td>
<td>43580</td>
<td>Deltebre</td>
<td>610761860</td>
<td></td>
<td>carlos.castanyo@agencia.axa.es</td>
<td> </td>
</tr>
<tr>
<td>Cívica</td>
<td>Assemblea Nacional Catalana</td>
<td>Gerard Bonet Bustos</td>
<td> </td>
<td></td>
<td> </td>
<td>644291697</td>
<td></td>
<td>deltebre@assemblea.cat</td>
<td> </td>
</tr>
<tr>
<td>Cívica</td>
<td>Delegació Local Unió de Pagesos</td>
<td>Josué Franch Chacón</td>
<td>C/ Ulldecona, 21-33  2n</td>
<td>8038</td>
<td>Barcelona</td>
<td>639028520</td>
<td>932680900</td>
<td>uniopagesos@uniopagesos.cat</td>
<td> </td>
</tr>
<tr>
<td>Col·lectiu</td>
<td>Associació de Dones Agents de la Salut</td>
<td>Mònica Rius Navarro</td>
<td>C/ Ramon i Cajal, 17</td>
<td>43580</td>
<td>Deltebre</td>
<td>676420328</td>
<td>977489439</td>
<td>monicariusnavarro@hotmail.com</td>
<td> </td>
</tr>
<tr>
<td>Col·lectiu</td>
<td>Associació Dones de Deltebre</td>
<td>Maria Cinta Aliau Ventura</td>
<td>Plaça Major, 7</td>
<td>43580</td>
<td>Deltebre</td>
<td>639030911</td>
<td>649645026</td>
<td>donesdeltebre90@gmail.com</td>
<td> </td>
</tr>
<tr>
<td>Col·lectiu</td>
<td>Associació Local de Dona de La Cava</td>
<td>Fermina Fornós Durà</td>
<td>Av. Goles de l&#39;Ebre, 208</td>
<td>43580</td>
<td>Deltebre</td>
<td>629879442</td>
<td>660259622</td>
<td>doneslacava@gmail.com</td>
<td> </td>
</tr>
<tr>
<td>Col·lectiu</td>
<td>Associació de Joves de La Cava</td>
<td>David Serra Amenós</td>
<td>Av. Goles de l&#39;Ebre, 208</td>
<td>43580</td>
<td>Deltebre</td>
<td>661474246</td>
<td>648070692</td>
<td>isa@tomasmauri.cat</td>
<td> </td>
</tr>
<tr>
<td>Col·lectiu</td>
<td>Associació de Joves Les Marfantes</td>
<td>Jordan Turon Crespo</td>
<td>Av. Colom, 22</td>
<td>43580</td>
<td>Deltebre</td>
<td>679724433</td>
<td>645820257</td>
<td>lesmarfantes@gmail.com</td>
<td> </td>
</tr>
<tr>
<td>Col·lectiu</td>
<td>Associació Gent Gran de Deltebre</td>
<td>Francesc Mateu Piquer</td>
<td>Av. Catalunya, 9</td>
<td>43580</td>
<td>Deltebre</td>
<td>675663246</td>
<td>977489230</td>
<td>fiscal@gabinetadministratiu.com</td>
<td> </td>
</tr>
<tr>
<td>Col·lectiu</td>
<td>Associació de Jubilats i Pensionistes de La Cava</td>
<td>Josep Pagà Casanova</td>
<td>C/ Mestre Carles Itarte, 23</td>
<td>43580</td>
<td>Deltebre</td>
<td>687237369</td>
<td>977480778</td>
<td>jubilatslacava@gmail.com</td>
<td> </td>
</tr>
<tr>
<td>Professional</td>
<td>FECOTUR</td>
<td>Estela Alcalà Morelló</td>
<td>Av. Catalunya, 9</td>
<td>43580</td>
<td>Deltebre</td>
<td>699649570</td>
<td>977489744</td>
<td>secretaria@fecotur.org</td>
<td>www.fecotur.org</td>
</tr>
<tr>
<td>Professional</td>
<td>FEPROMODEL</td>
<td>Miguel Carles</td>
<td> </td>
<td></td>
<td> </td>
<td>689476239</td>
<td></td>
<td>president@fepromodel.com</td>
<td> </td>
</tr>
<tr>
<td>Professional</td>
<td>Agrupació d&#39;Electricistes i Fontaners de Deltebre</td>
<td>Josep Casanova Miró</td>
<td>Av. Goles de l&#39;Ebre, 381</td>
<td>43580</td>
<td>Deltebre</td>
<td>679156572</td>
<td>977482003</td>
<td>relafem@gmail.com</td>
<td> </td>
</tr>
<tr>
<td>Cultural</td>
<td>Ravera de Bouetes</td>
<td>Miquel Angel Marin Ribes</td>
<td>C/ Estació, 69 1r A</td>
<td>43580</td>
<td>Deltebre</td>
<td>650312673</td>
<td></td>
<td>miquelmarin3@hotmail.com</td>
<td> </td>
</tr>
<tr>
<td>Cultural</td>
<td>La Rondalla del Delta</td>
<td>Eleuteri Franch Ferreres</td>
<td>Av. Goles de l&#39;Ebre, 381</td>
<td>43580</td>
<td>Deltebre</td>
<td>679651421</td>
<td>977482003</td>
<td>rondallatrescantadors@gmail.com</td>
<td> </td>
</tr>
<tr>
<td>Cultural</td>
<td>Amics del Carrilet del Delta de l&#39;Ebre</td>
<td>Joaquim Salvia Carles</td>
<td>Av. Nostra Senyora de l&#39;Assumpció, 39</td>
<td>43580</td>
<td>Deltebre</td>
<td>670099634</td>
<td></td>
<td>carriletdelta@carriletdelta.com</td>
<td>www.carriletdelta.com</td>
</tr>
<tr>
<td>Cultural</td>
<td>Associació Musical Sol del Delta</td>
<td>Francesc Josep Panisello Franch</td>
<td>C/ Sant Jaume, 21 bis</td>
<td>43580</td>
<td>Deltebre</td>
<td>659207355</td>
<td>977480554</td>
<td>francescpanisello@gmail.com</td>
<td> </td>
</tr>
<tr>
<td>Cultural</td>
<td>Associació Cultural de Pintura 'Lo Color del Delta'</td>
<td>Ramon Martínez Lluch</td>
<td>Parc del Riu, s/n</td>
<td>43580</td>
<td>Deltebre</td>
<td>622691429</td>
<td></td>
<td>lluch.mon900@gmail.com</td>
<td> </td>
</tr>
<tr>
<td>Cultural</td>
<td>Associació Cultural i de Percussió Batu&#39;Cava</td>
<td>Eva Navarro Pascual</td>
<td>C/ Benavent, 52</td>
<td>43580</td>
<td>Deltebre</td>
<td>652481785</td>
<td></td>
<td>grupbatucava@gmail.com</td>
<td>http://batucava.wordpress.com<br />www.facebook.com/grupBatuCava</td>
</tr>
<tr>
<td>Cultural</td>
<td>Associació Cultural, Recreativa i Agrícola la Ribera de l&#39;Ebre de L.C.</td>
<td>Salvador Bertomeu</td>
<td>Av. Goles de l&#39;Ebre, 208</td>
<td>43580</td>
<td>Deltebre</td>
<td>646967304</td>
<td>977480444</td>
<td>salvador@construmar-sl.com</td>
<td> </td>
</tr>
<tr>
<td>Cultural</td>
<td>Associació la Passió de la Cava</td>
<td>Domingo Bertomeu Ribes</td>
<td>C/ Major, 23</td>
<td>43580</td>
<td>Deltebre</td>
<td>606525049</td>
<td></td>
<td>passiolacava@gmail.com</td>
<td> </td>
</tr>
<tr>
<td>Cultural</td>
<td>Associació Tres Tombs de Deltebre</td>
<td>Jasmina Tomàs Santiago</td>
<td>C/ La Sénia, 48</td>
<td>43580</td>
<td>Deltebre</td>
<td>687023160</td>
<td></td>
<td>associacio3tombs@hotmail.es</td>
<td> </td>
</tr>
<tr>
<td>Cultural</td>
<td>Centre d&#39;Estudis Tirant lo Rall</td>
<td>Francesc Ventura Hernández</td>
<td>Av. Germans Garsi, 69</td>
<td>43580</td>
<td>Deltebre</td>
<td>600220472</td>
<td></td>
<td>tirantlorall@gmail.com</td>
<td>tirantlorall.wordpress.com<br />tirantlorall.webnode.com<br />www.youtube.com/tirantlorall</td>
</tr>
<tr>
<td>Cultural</td>
<td>Companyia Delta Teatre</td>
<td>Ma. Cinta Torné Pagà</td>
<td>C/ Sant Joan Bosco, 36</td>
<td>43580</td>
<td>Deltebre</td>
<td>662642030</td>
<td></td>
<td>deltateatre@gmail.com</td>
<td>http://webfacil.tinet.cat/cdteatre</td>
</tr>
<tr>
<td>Cultural</td>
<td>Colla Sardanista i de Jota de Deltebre</td>
<td>Tere Aloguin Arias</td>
<td>Av. La Pau, 7</td>
<td>43580</td>
<td>Deltebre</td>
<td>669110504</td>
<td>977489595</td>
<td>aloguin@telefonica.net</td>
<td> </td>
</tr>
<tr>
<td>Cultural</td>
<td>Penya Tir i Arrastre</td>
<td>Rafael Franch Franch</td>
<td>C/ Federico Garcia Lorca, 105</td>
<td>43580</td>
<td>Deltebre</td>
<td>627542801</td>
<td>650946492</td>
<td>kilian.franch@gmail.com</td>
<td> </td>
</tr>
<tr>
<td>Cultural</td>
<td>Societat Musical Espiga d&#39;Or</td>
<td>Margarita del Barrio Eito</td>
<td>C/ Estació, 19</td>
<td>43580</td>
<td>Deltebre</td>
<td>699932388</td>
<td>977480383</td>
<td>sm.espigador@gmail.com</td>
<td>www.espigador.cat</td>
</tr>
<tr>
<td>Cultural</td>
<td>Associació Cultural Islàmica de Deltebre</td>
<td>Abdeslam El Harrak Mohamed</td>
<td>C/ Sant Miquel, 132</td>
<td>43580</td>
<td>Deltebre</td>
<td>679065359<br />>609774625</td>
<td></td>
<td>abdeslamelharrak@hotmail.es</td>
<td> </td>
</tr>
<tr>
<td>Cultural</td>
<td>Associació Amics de Deltebre Dansa</td>
<td>Mar Moreno Tena</td>
<td>Av. de la Pau, s/n</td>
<td>43580</td>
<td>Deltebre</td>
<td>620625359</td>
<td></td>
<td>marmorenotena@gmail.com</td>
<td> </td>
</tr>
<tr>
<td>Cultural</td>
<td>Associació Cultural &quot;Los xaladors&quot;</td>
<td>Tània Macià Bertomeu</td>
<td>C/ Santa Teresa, 1</td>
<td>43580</td>
<td>Deltebre</td>
<td>628426081</td>
<td></td>
<td>arual-ag@hotmail.com</td>
<td> </td>
</tr>
<tr>
<td>Cultural</td>
<td>Associació Penya Taurina Bous Més Que Mai de la Cava</td>
<td>Benjamí Navarro Pujol</td>
<td>C/ Pizarro, 4</td>
<td>43580</td>
<td>Deltebre</td>
<td>630320547</td>
<td></td>
<td>ingridribes14@gmail.com</td>
<td> </td>
</tr>
<tr>
<td>Cultural</td>
<td>Associació del Bou Capllaçat de Jesús i Maria</td>
<td>Carlos Rius Royo</td>
<td>C/ Federico Garcia Lorca, 92</td>
<td>43580</td>
<td>Deltebre</td>
<td>628496144</td>
<td>650425620</td>
<td>jsorribesbertomeu@yahoo.es</td>
<td> </td>
</tr>
<tr>
<td>Cultural</td>
<td>Associació Musical Txaranga Tarorata</td>
<td>Jordi Turon Gisbert</td>
<td>C/ Vicente Blasco Ibáñez, 12</td>
<td>43580</td>
<td>Deltebre</td>
<td>667637789<br />977482188</td>
<td>670238925</td>
<td>xarangatarorata@hotmail.com</td>
<td> </td>
</tr>
<tr>
<td>Cultural</td>
<td>Xaranga Laia&#39;s</td>
<td>Santi Martí Bertomeu</td>
<td>Av. Germans Carsi, 4</td>
<td>43580</td>
<td>Deltebre</td>
<td>687938897</td>
<td>977480788</td>
<td>laiasxaranga@outlook.es</td>
<td> </td>
</tr>
<tr>
<td>Cultural</td>
<td>Associació Art Natura</td>
<td>Àlvar Zamora Gómez</td>
<td>C/ Sant Isidre, 9B</td>
<td>43580</td>
<td>Deltebre</td>
<td>698080170</td>
<td>630849291</td>
<td>delta.natura.art@gmail.com</td>
<td>https://deltanaturaart.blogspot.com.es/</td>
</tr>
<tr>
<td>Cultural</td>
<td>Associació Cultural Taurina La Divisa</td>
<td>Didac Casanova Figueres</td>
<td>C/ Verge del Carme, 4</td>
<td>43580</td>
<td>Deltebre</td>
<td>680380004</td>
<td>620429183</td>
<td>actladivisa@gmail.com</td>
<td> </td>
</tr>
<tr>
<td>Cultural</td>
<td>Grup musical &quot;Versus&quot;</td>
<td>Ruben Castellà Fornós</td>
<td>C/ Poeta Rafael Alberti, 5 Escala 1  2n 2a</td>
<td>43580</td>
<td>Deltebre</td>
<td>636130295</td>
<td></td>
<td>delhebreo@hotmail.com</td>
<td> </td>
</tr>
<tr>
<td>Cultural</td>
<td>Grup musical &quot;Shunik&#39;s&quot;</td>
<td>Salvador Rius Ventura</td>
<td>C/ Reis Catòlics, 6</td>
<td>43580</td>
<td>Deltebre</td>
<td>649424696</td>
<td></td>
<td>orioblau@hotmail.com</td>
<td> </td>
</tr>
<tr>
<td>Educativa</td>
<td>AMPA Escola Bressol l&#39;Hortet de Deltebre</td>
<td>Sara Casanova Pagà</td>
<td>Av. La Pau, s/n Escola Bressol</td>
<td>43580</td>
<td>Deltebre</td>
<td>678915822</td>
<td>661820591</td>
<td>ampahortet@gmail.com</td>
<td>http://bressol.lonada.com/centros/apma</td>
</tr>
<tr>
<td>Educativa</td>
<td>AMPA l&#39;Assumpció</td>
<td>Beatriz Roca Fabra</td>
<td>Av. La Pau, 17</td>
<td>43580</td>
<td>Deltebre</td>
<td>636182594</td>
<td>610403898</td>
<td>ampaescolaassumpcio@gmail.com</td>
<td> </td>
</tr>
<tr>
<td>Educativa</td>
<td>AMPA Escola Riumar</td>
<td>Esteban Rovira Curto</td>
<td>C/ Ignasi, 26</td>
<td>43580</td>
<td>Deltebre</td>
<td>642063713</td>
<td>977480545</td>
<td>ampaceipriumar@gmail.com</td>
<td> </td>
</tr>
<tr>
<td>Educativa</td>
<td>AMPA Escola Sant Miquel</td>
<td>Joana Millan Fabra</td>
<td>C/ Sant Miquel, 100</td>
<td>43580</td>
<td>Deltebre</td>
<td>680752199</td>
<td>610316942</td>
<td>ampa.santmiquel2011@gmail.com</td>
<td> </td>
</tr>
<tr>
<td>Educativa</td>
<td>AMPA Institut Deltebre</td>
<td>Raimundo Mulet Cardona</td>
<td>Av. Catalunya, s/n</td>
<td>43580</td>
<td>Deltebre</td>
<td>620875272</td>
<td>660012893</td>
<td>rmuletcardona@hotmail.com</td>
<td> </td>
</tr>
<tr>
<td>Esportiva</td>
<td>Club Natació Ebre</td>
<td>Patricia Cebolla Vilches</td>
<td>C/ Sant Jaume, 46</td>
<td>43580</td>
<td>Deltebre</td>
<td>679259528</td>
<td></td>
<td>patri_delta@hotmail.com</td>
<td> </td>
</tr>
<tr>
<td>Esportiva</td>
<td>Veterans de Futbol de Jesús i Maria</td>
<td>José Daniel Rajadell Vergés</td>
<td>Av. de la Pau, s/n</td>
<td>43580</td>
<td>Deltebre</td>
<td>629417376</td>
<td></td>
<td>aevfjesusimaria@gmail.com</td>
<td> </td>
</tr>
<tr>
<td>Esportiva</td>
<td>Associació Esportiva Veterans Delta de l&#39;Ebre</td>
<td>Juan Carlos Favà González</td>
<td>Av. Catalunya, 4  1r1a</td>
<td>43580</td>
<td>Deltebre</td>
<td>606146937</td>
<td>627849560</td>
<td>j.carlos.fava@gmail.com</td>
<td> </td>
</tr>
<tr>
<td>Esportiva</td>
<td>Associació Amics del Ball de Saló</td>
<td>Matilde Fernández Juárez</td>
<td>Av. Assumpció, 168-170</td>
<td>43580</td>
<td>Deltebre</td>
<td>636436284</td>
<td>977487704</td>
<td>math.fran@gmail.com</td>
<td> </td>
</tr>
<tr>
<td>Esportiva</td>
<td>Associació Esportiva Xino-Xano</td>
<td>Josep Maria Queral Casanova</td>
<td>Passeig Reinosa, s/n</td>
<td>43580</td>
<td>Deltebre</td>
<td>639902439</td>
<td>630693176</td>
<td>ae.xinoxano.deltebre@gmail.com</td>
<td>webfacil.tinet.org/aexinoxano</td>
</tr>
<tr>
<td>Esportiva</td>
<td>Associació Futbol Sala Deltebre</td>
<td>Màxim Navarro Hernàndez</td>
<td>Av. Goles de l&#39;Ebre, 296</td>
<td>43580</td>
<td>Deltebre</td>
<td>699983970</td>
<td></td>
<td>maximnavarro7@hotmail.com</td>
<td> </td>
</tr>
<tr>
<td>Esportiva</td>
<td>Associació de Pesca Esportiva Lo Fangar</td>
<td>José Francisco Romañá Gómez</td>
<td>Polígon les Molines Parc. 2  4-B</td>
<td>43560</td>
<td>La Sénia</td>
<td>639055397</td>
<td>653185044</td>
<td>societatfangar@hotmail.com</td>
<td> </td>
</tr>
<tr>
<td>Esportiva</td>
<td>Associació de Karate Kushinkai</td>
<td>Miguel Castro Casanova</td>
<td>Segre, 9</td>
<td>43580</td>
<td>Deltebre</td>
<td>618657170</td>
<td>667103008</td>
<td>karatedeltebre@hotmail.com</td>
<td> </td>
</tr>
<tr>
<td>Esportiva</td>
<td>Club de Birles La Cava</td>
<td>Josep Castells Rovira</td>
<td>Av. Goles de l&#39;Ebre, 208</td>
<td>43580</td>
<td>Deltebre</td>
<td>627816078</td>
<td></td>
<td>josepcastellsrovira@gmail.com</td>
<td> </td>
</tr>
<tr>
<td>Esportiva</td>
<td>Club Nàutic Riumar</td>
<td>Juan Vicente Barbas Sanchez</td>
<td>Port de Riumar - Riumar CB 23</td>
<td>43580</td>
<td>Deltebre</td>
<td>679516935</td>
<td>977470618</td>
<td>cnriumar@cnriumar.com</td>
<td>www.cnriumar.com</td>
</tr>
<tr>
<td>Esportiva</td>
<td>Club Patí Deltebre</td>
<td>Marta Gràcia Castelló</td>
<td>C/ Riu Llobregat, 39</td>
<td>43580</td>
<td>Deltebre</td>
<td>646472792</td>
<td></td>
<td>cpdeltebre@msn.com</td>
<td> </td>
</tr>
<tr>
<td>Esportiva</td>
<td>Club Twirling Deltebre</td>
<td>Mª Carmen Fernéndez Bayo</td>
<td>C/ Sant Roc, 12</td>
<td>43580</td>
<td>Deltebre</td>
<td>691564441</td>
<td>603477453</td>
<td>ctdeltebr@twirling.cat</td>
<td> </td>
</tr>
<tr>
<td>Esportiva</td>
<td>Delta Sporting Club</td>
<td>Josep Lluís Bartolí Samper</td>
<td>C/ Leopoldo Segarra, 60</td>
<td>43580</td>
<td>Deltebre</td>
<td>650381057</td>
<td></td>
<td>ds.futsal@gmail.com</td>
<td>www.deltasporting.com</td>
</tr>
<tr>
<td>Esportiva</td>
<td>Club Esportiu Escola Futbol Delta Ebre</td>
<td>Jordi Bayo Moreso</td>
<td>C/ Diputació, 15</td>
<td>43580</td>
<td>Deltebre</td>
<td>626609060</td>
<td></td>
<td>jordi.escolafutboldelta@gmail.com</td>
<td> </td>
</tr>
<tr>
<td>Esportiva</td>
<td>Grup Twirling La Cava</td>
<td>Encarnació Tomàs Ribes</td>
<td>Av. Goles de l&#39;Ebre, 210</td>
<td>43580</td>
<td>Deltebre</td>
<td>689044914</td>
<td></td>
<td>twirlinglacava@gmail.com</td>
<td> </td>
</tr>
<tr>
<td>Esportiva</td>
<td>Motoclub Delta</td>
<td>José Juan Pujol Bertomeu</td>
<td>Av. Esportiva, 122 casa 1</td>
<td>43580</td>
<td>Deltebre</td>
<td>633197742</td>
<td></td>
<td>isa@tomasmauri.cat</td>
<td> </td>
</tr>
<tr>
<td>Esportiva</td>
<td>La Granota Endurera</td>
<td>Àlex Bertomeu</td>
<td> </td>
<td></td>
<td> </td>
<td>629877769</td>
<td></td>
<td>aabertomeu@hotmail.es</td>
<td> </td>
</tr>
<tr>
<td>Esportiva</td>
<td>Penya Barcelonista La Cava Galatxo</td>
<td>Enric Bonet</td>
<td>Ctra. la Marquesa, 6</td>
<td>43580</td>
<td>Deltebre</td>
<td>609119117</td>
<td></td>
<td>bonetperruquers@hotmail.com</td>
<td> </td>
</tr>
<tr>
<td>Esportiva</td>
<td>Societat de Caçadors Jesús i Maria</td>
<td>Jose Antonio Bertomeu Llobet</td>
<td>Av. Robert Graupera, 134 Baixos</td>
<td>43580</td>
<td>Deltebre</td>
<td>606571294</td>
<td>977489197</td>
<td>antonio@abertomeuassociats.com</td>
<td> </td>
</tr>
<tr>
<td>Esportiva</td>
<td>Societat de Caçadors Sant Miquel de La Cava</td>
<td>José Pedro Tomàs Callau</td>
<td>C/ Barracot, 23</td>
<td>43580</td>
<td>Deltebre</td>
<td>606572737</td>
<td>649704673</td>
<td>agusti.ribes@hotmail.com</td>
<td> </td>
</tr>
<tr>
<td>Esportiva</td>
<td>U.D. i Escola de Futbol de J i M</td>
<td>Juan José Gilabert Franch</td>
<td>Av. De la Pau, s/n</td>
<td>43580</td>
<td>Deltebre</td>
<td>619712776</td>
<td>680659951</td>
<td>jjgilabert@gilabertmiro.com</td>
<td>http://jesusimaria.blogspot.com</td>
</tr>
<tr>
<td>Esportiva</td>
<td>U.E. Deltebre</td>
<td>Leocadio Ventura Pagà</td>
<td>Av. Robert Graupera, 124</td>
<td>43580</td>
<td>Deltebre</td>
<td>626106922</td>
<td></td>
<td>uedeltebre@gmail.com</td>
<td>www.uedeltebre.com</td>
</tr>
<tr>
<td>Esportiva</td>
<td>C.D. La Cava</td>
<td>Agustí Rius Lleti</td>
<td>Av. Goles de l&#39;Ebre, 208</td>
<td>43580</td>
<td>Deltebre</td>
<td>661474240</td>
<td>977481082</td>
<td>rtomasbonet74@gmail.com</td>
<td>www.cdlacava.com</td>
</tr>
<tr>
<td>Esportiva</td>
<td>Associació Unió Excursionista Lo Passador</td>
<td>Mireia Cotaina Gilabert</td>
<td>C/ Unió, 68</td>
<td>43580</td>
<td>Deltebre</td>
<td>647975600</td>
<td>605106107</td>
<td>uelopassador@gmail.com</td>
<td> </td>
</tr>
<tr>
<td>Esportiva</td>
<td>Motors Clàssics Deltebre</td>
<td>Joan Navarro Curto</td>
<td>C/ Sant Hipòlit, 16</td>
<td>43580</td>
<td>Deltebre</td>
<td>696417801</td>
<td></td>
<td>joan@ebre.cat</td>
<td> </td>
</tr>
<tr>
<td>Esportiva</td>
<td>Demoniets del Delta</td>
<td>Joan Carles Enrich Ortiga</td>
<td>Av. Goles de l&#39;Ebre, 230</td>
<td>43580</td>
<td>Deltebre</td>
<td>630023166</td>
<td>977480168</td>
<td>enrichortiga@gmail.com</td>
<td> </td>
</tr>
<tr>
<td>Esportiva</td>
<td>Club de Vela Riumar</td>
<td>Sergio Casanova Castells</td>
<td>C/ Cervantes, 22</td>
<td>43580</td>
<td>Deltebre</td>
<td>606744058</td>
<td></td>
<td>info@deltanatur4x4.com</td>
<td> </td>
</tr>
<tr>
<td>Esportiva</td>
<td>Majorettes 1975</td>
<td>Maximina Saborido Franch</td>
<td>C/ Estació, 80</td>
<td>43580</td>
<td>Deltebre</td>
<td>644105649</td>
<td></td>
<td>maximinasaborido@hotmail.com</td>
<td> </td>
</tr>
<tr>
<td>Esportiva</td>
<td>Associació de Ball Feel Dance de Deltebre</td>
<td>Èric Bertomeu Antolín</td>
<td>C/ Joana d&#39;Arc, 19</td>
<td>43580</td>
<td>Deltebre</td>
<td>643243121</td>
<td></td>
<td>ass.feeldance@hotmail.com</td>
<td> </td>
</tr>
<tr>
<td>Social</td>
<td>Associació Fibromiàlgia i Fatiga Crònica del Delta de l&#39;Ebre</td>
<td>Tere Aloguin Arias</td>
<td>C/ Ramon i Cajal, 17</td>
<td>43580</td>
<td>Deltebre</td>
<td>676420328</td>
<td>669110504</td>
<td>aloguin@telefonica.net</td>
<td> </td>
</tr>
<tr>
<td>Social</td>
<td>Càritas l&#39;Assumpció</td>
<td>Pendent de nomenar</td>
<td>Plaça Major, s/n (Església L&#39;Assumpció)</td>
<td>43580</td>
<td>Deltebre</td>
<td>650554294 (Mn. Josep)</td>
<td></td>
<td>assumpcio@caritastortosa.org</td>
<td> </td>
</tr>
<tr>
<td>Social</td>
<td>Càritas Sant Miquel de La Cava</td>
<td>Pedro Arques Damian</td>
<td>C/ Antoni Gaudí, 73</td>
<td>43580</td>
<td>Deltebre</td>
<td>649885772</td>
<td></td>
<td>santmiquel@caritastortosa.org</td>
<td> </td>
</tr>
<tr>
<td>Social</td>
<td>Delegació Local de la Lliga contra el Càncer</td>
<td>Natàlia Alvarado Salgado</td>
<td>C/ Santiago Apòstol, 34</td>
<td>43580</td>
<td>Deltebre</td>
<td>600427163</td>
<td>977477086</td>
<td>nataliaalvarado1978@gmail.com</td>
<td> </td>
</tr>
<tr>
<td>Social</td>
<td>Fundació Privada Astres</td>
<td>Marta Cid i Pañella</td>
<td>Avinguda de la Pau 178</td>
<td>43580</td>
<td>Deltebre</td>
<td> </td>
<td>977059266</td>
<td>psicologialaduna@fundacioastres.org</td>
<td> </td>
</tr>
<tr>
<td>Social</td>
<td>Fundació Privada Gentis</td>
<td>Marta Cid i Pañella</td>
<td>Avinguda de la Pau 178</td>
<td>43580</td>
<td>Deltebre</td>
<td> </td>
<td>977059266</td>
<td>ccee@gentis.org</td>
<td> </td>
</tr>
<tr>
<td>Social</td>
<td>Asociación Interacciona para el Desarrollo Infantil</td>
<td>Pràxedes Rodríguez Cortés</td>
<td>C/ Barri Lepanto, 30</td>
<td>43580</td>
<td>Deltebre</td>
<td>669397957<br />671878805</td>
<td></td>
<td>info@asociacioninteracciona.com</td>
<td>www.asociacioninteracciona.com</td>
</tr>
<tr>
<td>Social</td>
<td>Associació Los Lliris</td>
<td>Andreu Bertomeu Casanova</td>
<td>C/ Jaume I el Conqueridor, 44</td>
<td>43580</td>
<td>Deltebre</td>
<td>620985584</td>
<td>628241827</td>
<td>losllirisassociacio@gmail.com</td>
<td> </td>
</tr>
<tr>
<td>Social</td>
<td>Terres de l&#39;Ebre amb el Poble Saharauí</td>
<td>Joan Castellano Masdeu</td>
<td>Av. Catalunya, 48 1A</td>
<td>43870</td>
<td>Amposta</td>
<td>654533070</td>
<td></td>
<td>magdabarrachinasales@gmail.com</td>
<td> </td>
</tr>
<tr>
<td>Social</td>
<td>Federació d&#39;Entitats Socials de les Terres de l&#39;Ebre</td>
<td>Pere Cabanes Altadill</td>
<td>Av. del Canal, s/n</td>
<td>43580</td>
<td>Deltebre</td>
<td>626542879</td>
<td>977480315</td>
<td>administracio@feste.cat</td>
<td> </td>
</tr>
<tr>
<td>Social</td>
<td>Associació Parkinson Terres de l&#39;Ebre</td>
<td>Núria Samper Garcia</td>
<td>Av. del Canal, s/n</td>
<td>43580</td>
<td>Deltebre</td>
<td>611026884</td>
<td>619308958</td>
<td>presidencia@parkinsontebre.cat</td>
<td> </td>
</tr>
<tr>
<td>Social</td>
<td>Creu Roja a Deltebre</td>
<td>Marcos Ventura Cardona</td>
<td>Ctra. del Far de Buda, s/n, T340 PQ 9</td>
<td>43580</td>
<td>Deltebre</td>
<td>629120091<br />626547173</td>
<td>977481006</td>
<td>deltebre@cruzroja.es</td>
<td>www.cruzroja.es</td>
</tr>
</tbody></table>

<script>
    var coll = document.getElementsByClassName("collapsible_ta");
    var i;
    
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active_ta");
        var content = this.nextElementSibling;
        if (content.style.maxHeight){
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        } 
      });
    }
</script>