<style>
        .collapsible_tm {
            background-color: #acacac;
            color: #f5f5f5;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
        }
        
        .active_tm, .collapsible_tm:hover {
            background-color: #7a7a7a;
        }
        
        .collapsible_tm:after {
            content: '\002B';
            color: white;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }
        
        .active_tm:after {
            content: "\2212";
        }
        
        .content_tm {
            padding: 0 0px;
            max-height: 0;
            overflow: auto;
            transition: max-height 0.2s ease-out;
            background-color: #f1f1f1;
            height: 500px;
        }
</style>

<button class="collapsible_tm">Llistat de contractes menors</button>
<div class="content_tm">
<table class="table table-bordered table-hover table-condensed">
<thead>
<tr><th title="Codi Expedient">Codi Expedient</th>
<th title="Tipus de contracte">Tipus de contracte</th>
<th title="Descripció del contracte">Descripció del contracte</th>
<th title="Import Adjudicació">Import Adjudicació</th>
<th title="Nom Adjudicatari">Nom Adjudicatari</th>
<th title="Data Adjudicació">Data Adjudicació</th>
</tr>
</thead>
<tbody class="tbody_taulamenors">
<tr>
<td>2017/0129</td>
<td>Serveis</td>
<td>Contracte manteniment aplicacions Absis</td>
<td>15.465,30€</td>
<td>ABS Informatica, S.L.</td>
<td>01/01/2017</td>
</tr>
<tr>
<td>2017/0249</td>
<td>Serveis</td>
<td>Contracte menor de serveis de contractació per mig del procediment obert oferta econòmicament més avantatjosa, diversos criteris adjudicació per a la prestació del servei d&#39;abalissament de les platges de Deltebre temporada 2017</td>
<td>6.600,00€</td>
<td>Excomarbla SLU</td>
<td>01/02/2017</td>
</tr>
<tr>
<td>2017/0103</td>
<td>Serveis</td>
<td>Contracte menor de neteja viària</td>
<td>18.000,00€</td>
<td>NATURAL MEDITERRANEAN ACTIVITIES SL</td>
<td>07/02/2017</td>
</tr>
<tr>
<td>2017/4778</td>
<td>Serveis</td>
<td>Contracte Festes Majors de Deltebre 2017 de l&#39;Orquestra Nova Saturno</td>
<td>9.500,00€</td>
<td>ORQUESTA NOVA SATURNO</td>
<td>13/02/2017</td>
</tr>
<tr>
<td>2017/4780</td>
<td>Serveis</td>
<td>Contracte Festes Majors de Deltebre 2017 de l&#39;Orquestra Magia Negra</td>
<td>6.600,00€</td>
<td>Grupo Maestrat Carpas Espectaculos y Eventos, SL</td>
<td>14/02/2017</td>
</tr>
<tr>
<td>2017/4779</td>
<td>Serveis</td>
<td>Contracte Festes Majors de Deltebre 2017 de l&#39;Orquestra La Fania</td>
<td>9.100,00€</td>
<td>MUSIC-RALLY SLL</td>
<td>15/02/2017</td>
</tr>
<tr>
<td>2017/0528</td>
<td>Serveis</td>
<td>Contracte menor de serveis de dissenys Ajuntament de Deltebre</td>
<td>4.100,00€</td>
<td>CLOFENT AGRAMUNT, JOAN MARC</td>
<td>17/02/2017</td>
</tr>
<tr>
<td>2017/0529</td>
<td>Serveis</td>
<td>Contracte menor de serveis de disseny del nou butlletí desaigüe</td>
<td>4.080,00€</td>
<td>VERTEX COMUNICACIÓ CB</td>
<td>17/02/2017</td>
</tr>
<tr>
<td>2017/0450</td>
<td>Serveis</td>
<td>Contracte menor de serveis de prevenció de riscos laborals</td>
<td>8.970,24€</td>
<td>PREVENACTIVA, SL, Sociedad Unipersonal</td>
<td>18/02/2017</td>
</tr>
<tr>
<td>2017/4781</td>
<td>Serveis</td>
<td>Contracte Festes Majors de Deltebre 2017 de l&#39;artista Partinando Show</td>
<td>4.950,00€</td>
<td>GARCOS PUBLICITAT SL</td>
<td>27/02/2017</td>
</tr>
<tr>
<td>2017/0430</td>
<td>Serveis</td>
<td>Contracte menor de legalització de l&#39;ascensor de l&#39;edifici de l&#39;escola bressol/música</td>
<td>3.486,00€</td>
<td>MARVI ASCENSORES, S.L.U.</td>
<td>01/03/2017</td>
</tr>
<tr>
<td>2017/0451</td>
<td>Serveis</td>
<td>Servei de redacció d'avantprojecte, projecte executiu i direcció obra per l&#39;arxiu municipal</td>
<td>9.400,00€</td>
<td>M6 Arquitectura 2003, SLP</td>
<td>31/03/2017</td>
</tr>
<tr>
<td>2017/0985</td>
<td>Serveis</td>
<td>Contractació de serveis de redacció &quot;Projectes enllumenat Riumar i passeig fluvial&quot;</td>
<td>14.950,00€</td>
<td>ENATE Enginyeria, SLP</td>
<td>31/03/2017</td>
</tr>
<tr>
<td>2017/0984</td>
<td>Obres</td>
<td>Contracte menor obres &quot;projecte d&#39;enderrocament de l&#39;antiga nau Mobles Delta</td>
<td>29.127,03€</td>
<td>SERVIDEL, SL Societat Unipersonal</td>
<td>11/04/2017</td>
</tr>
<tr>
<td>2017/0998</td>
<td>Obres</td>
<td>Contracte menor desplaçament i soterrament línia aèria de baixa tensió existent situada en l&#39;edifici Mobles Delta en C/Dr. Marti Buera amb Avinguda Goles de l&#39;Ebre de Deltebre, Baix Ebre, Tarragona</td>
<td>40.183,72€</td>
<td>ELECTRICA DEL EBRO SL</td>
<td>11/04/2017</td>
</tr>
<tr>
<td>2017/1837</td>
<td>Serveis</td>
<td>Contracte menor de serveis de manteniment i supervisió del software i hardware de l&#39;equipament informàtic dels edificis de l&#39;Ajuntament de Deltebre</td>
<td>15.000,00€</td>
<td>Microdelta Sistemes Informàtics, SL</td>
<td>11/04/2017</td>
</tr>
<tr>
<td>2017/1991</td>
<td>Serveis</td>
<td>Peritatge informàtic forense i serveis de ciberseguretat</td>
<td>2.760,00€</td>
<td>JORDI TORRUELLA GONZALEZ</td>
<td>11/04/2017</td>
</tr>
<tr>
<td>2017/1421</td>
<td>Serveis</td>
<td>Contracte menor activitats de promoció esportiva 2017</td>
<td>17.017,00€</td>
<td>KILIAN BERTOMEU GONZALEZ</td>
<td>25/04/2017</td>
</tr>
<tr>
<td>2017/2020</td>
<td>Serveis</td>
<td>Contracte instal·lació alarmes a la Biblioteca Muncipal</td>
<td>4.402,88€</td>
<td>BEL FONTCUBERTA</td>
<td>30/04/2017</td>
</tr>
<tr>
<td>2017/1110</td>
<td>Serveis</td>
<td>Contracte menor muntage estands modulars &quot;Fira Mescla 2017&quot;</td>
<td>13.275,00€</td>
<td>SERVELEC, PSF</td>
<td>04/05/2017</td>
</tr>
<tr>
<td>2017/2314</td>
<td>Serveis</td>
<td>Contracte menor orquestres per Delta Fira i per Festes Majors 2017</td>
<td>3.800,00€</td>
<td>CIMARRON SCCL</td>
<td>07/05/2017</td>
</tr>
<tr>
<td>2017/2355</td>
<td>Serveis</td>
<td>Contracte menor de serveis d&#39;ideació, disseny i comunicació de la propera edició de la Deltafira i la Fira Gastronòmica Mescla.</td>
<td>5.634,92€</td>
<td>CLOFENT AGRAMUNT, JOAN MARC</td>
<td>07/05/2017</td>
</tr>
<tr>
<td>2017/2539</td>
<td>Serveis</td>
<td>Contracte menor disseny i producció d&#39;un estand del poum del Deltebre</td>
<td>4.958,00€</td>
<td>LAVOLA , 1981 S.A.</td>
<td>07/05/2017</td>
</tr>
<tr>
<td>2017/2315</td>
<td>Serveis</td>
<td>Contracte menor festa Imagina Quintos 2017</td>
<td>6.100,00€</td>
<td>IMAGINA RADIO, S.L.</td>
<td>08/05/2017</td>
</tr>
<tr>
<td>2017/2555</td>
<td>Serveis</td>
<td>Servei d&#39;informadors per l&#39;estand del poum del Deltebre</td>
<td>1.100,00€</td>
<td>LAVOLA , 1981 S.A.</td>
<td>10/05/2017</td>
</tr>
<tr>
<td>2017/2563</td>
<td>Serveis</td>
<td>Contracte menor de serveis de redacció del projecte executiu i de la direcció de les obres de la Germandat de Jesús i Maria</td>
<td>10.600,00€</td>
<td>RAMON CASTELL MONFORT</td>
<td>13/05/2017</td>
</tr>
<tr>
<td>2017/2643</td>
<td>Subministraments</td>
<td>Contracte menor ampliació potència nova biblioteca Deltebre.</td>
<td>5.619,59€</td>
<td>ELECTRICA DEL EBRO SL</td>
<td>13/05/2017</td>
</tr>
<tr>
<td>201/2617</td>
<td>Serveis</td>
<td>Contracte menor del servei de subministrament, muntatge i desmuntatge, en règim de lloguer, de so i llum per a l&#39;edició de la Mostra de Gastronomia i Turisme Mescla</td>
<td>4.340,00€</td>
<td>GRUP AUDIOVISUAL LIVE EVENS SL</td>
<td>16/05/2017</td>
</tr>
<tr>
<td>2017/2359</td>
<td>Subministraments</td>
<td>Contracte menor de subministrament de quadre elèctric i potència Deltebredansa</td>
<td>9.188,78€</td>
<td>ELECTRICA DEL EBRO SL</td>
<td>16/05/2017</td>
</tr>
<tr>
<td>2017/2617</td>
<td>Serveis</td>
<td>Contracte menor del servei de subministrament, muntatge i desmuntatge, en règim de lloguer, de so i llum per a l&#39;edició de la Mostra de Gastronomia i Turisme Mescla</td>
<td>4.340,00€</td>
<td>GRUP AUDIOVISUAL LIVE EVENS SL</td>
<td>16/05/2017</td>
</tr>
<tr>
<td>2017/0989</td>
<td>Serveis</td>
<td>Contracte menor d&#39;avantprojecte, projecte executiu i direcció d&#39;obra d&#39;urbanització de l&#39;àmbit de la biblioteca</td>
<td>8.600,00€</td>
<td>M6 Arquitectura 2003, SLP</td>
<td>17/05/2017</td>
</tr>
<tr>
<td>2017/2608</td>
<td>Serveis</td>
<td>Contracte menor lloguer de carpes fira multisectorial + fira gastronòmica 2017</td>
<td>14.100,00€</td>
<td>Grupo Maestrat Carpas Espectaculos y Eventos, SL</td>
<td>17/05/2017</td>
</tr>
<tr>
<td>2017/2751</td>
<td>Serveis</td>
<td>Contracte menor serveis retirada boies referents al contracte abalisament platges 2016.</td>
<td>2.900,00€</td>
<td>Excomarbla SLU</td>
<td>04/06/2017</td>
</tr>
<tr>
<td>2017/2546</td>
<td>Serveis</td>
<td>Contracte menor de serveis de redacció de projecte de pantalà al riu Ebre per a l&#39;Ajuntament de Deltebre.</td>
<td>1.999,90€</td>
<td>Albacar Enginyers, SLP</td>
<td>06/06/2017</td>
</tr>
<tr>
<td>2017/4059</td>
<td>Serveis</td>
<td>Contracte menor serveis assitència jurídica</td>
<td>11.600,00€</td>
<td>URBAN PLANNING CONSULTANTS, SL</td>
<td>06/06/2017</td>
</tr>
<tr>
<td>2017/2878</td>
<td>Serveis</td>
<td>Contracte menor serveis de senyalització horitzontal zona blava i altres 2017</td>
<td>1.707,00€</td>
<td>SEPITAR 2016, SL</td>
<td>08/06/2017</td>
</tr>
<tr>
<td>2017/2748</td>
<td>Obres</td>
<td>Contracte menor d&#39;obres d&#39;adequació de l&#39;edifici municipal del C. Ramon y Cajal</td>
<td>10.647,21€</td>
<td>J.J. SORRIBES CONSTRUCCIONS, SL</td>
<td>15/06/2017</td>
</tr>
<tr>
<td>2017/3652</td>
<td>Serveis</td>
<td>Contracte de serveis tècnics de redacció d&#39;un text refós del projecte d&#39;urbanització, direcció facultativa d&#39;obres, direcció de l&#39;execució de les obres i coordinació de seguretat i salut del sector UA3 de Deltebre</td>
<td>10.354,50€</td>
<td>Seare Reus Enginyeria, S.L.</td>
<td>28/06/2017</td>
</tr>
<tr>
<td>2017/0984</td>
<td>Obres</td>
<td>Contracte menor obres projecte d&#39;enderrocament de l&#39;antiga nau Mobles Delta</td>
<td>29.127,03€</td>
<td>SERVIDEL, SL Societat Unipersonal</td>
<td>11/04/2017</td>
</tr>
<tr>
<td>2017/0998</td>
<td>Obres</td>
<td>Contracte menor desplaçament i soterrament línia aèria de baixa tensió existent situada en l&#39;edifici Mobles Delta en C/Dr. Marti Buera amb Avinguda Goles de l&#39;Ebre de Deltebre, Baix Ebre, Tarragona</td>
<td>40.183,72€</td>
<td>ELECTRICA DEL EBRO SL</td>
<td>11/04/2017</td>
</tr>
<tr>
<td>2017/1837</td>
<td>Serveis</td>
<td>Contracte menor de serveis de manteniment i supervisió del software i hardware de l&#39;equipament informàtic dels edificis de l&#39;Ajuntament de Deltebre</td>
<td>15.000,00€</td>
<td>Microdelta Sistemes Informàtics, SL</td>
<td>11/04/2017</td>
</tr>
<tr>
<td>2017/1991</td>
<td>Serveis</td>
<td>peritatge informàtic forense i serveis de ciberseguretat</td>
<td>2.760,00€</td>
<td>JORDI TORRUELLA GONZALEZ</td>
<td>11/04/2017</td>
</tr>
<tr>
<td>2017/1421</td>
<td>Serveis</td>
<td>Contracte menor activitats de promoció esportiva 2017</td>
<td>17.017,00€</td>
<td>KILIAN BERTOMEU GONZALEZ</td>
<td>25/04/2017</td>
</tr>
<tr>
<td>2017/2020</td>
<td>Serveis</td>
<td>Contracte instal·lació alarmes a la Biblioteca Muncipal</td>
<td>4.402,88€</td>
<td>BEL FONTCUBERTA</td>
<td>30/04/2017</td>
</tr>
<tr>
<td>2017/1110</td>
<td>Serveis</td>
<td>Contracte menor muntage estands modulars &quot;Fira Mescla 2017&quot;</td>
<td>13.275,00€</td>
<td>SERVELEC, PSF</td>
<td>04/05/2017</td>
</tr>
<tr>
<td>2017/2314</td>
<td>Serveis</td>
<td>Contracte menor orquestres per Delta Fira i per Festes Majors 2017</td>
<td>3.800,00€</td>
<td>CIMARRON SCCL</td>
<td>07/05/2017</td>
</tr>
<tr>
<td>2017/2355</td>
<td>Serveis</td>
<td>Contracte menor de serveis d&#39;ideació, disseny i comunicació de la propera edició de la Deltafira i la fira gastronòmica Mescla.</td>
<td>5.634,92€</td>
<td>CLOFENT AGRAMUNT, JOAN MARC</td>
<td>07/05/2017</td>
</tr>
<tr>
<td>2017/2539</td>
<td>Serveis</td>
<td>Contracte menor disseny i producció d&#39;un estand del poum del Deltebre</td>
<td>4.958,00€</td>
<td>LAVOLA , 1981 S.A.</td>
<td>07/05/2017</td>
</tr>
<tr>
<td>2017/2315</td>
<td>Serveis</td>
<td>Contracte menor festa Imagina quintos 2017</td>
<td>6.100,00€</td>
<td>IMAGINA RADIO, S.L.</td>
<td>08/05/2017</td>
</tr>
<tr>
<td>2017/2555</td>
<td>Serveis</td>
<td>Servei d&#39;informadors per l&#39;estand del poum del Deltebre</td>
<td>1.100,00€</td>
<td>LAVOLA , 1981 S.A.</td>
<td>10/05/2017</td>
</tr>
<tr>
<td>2017/2563</td>
<td>Serveis</td>
<td>Contracte menor de serveis de redacció del projecte executiu i de la direcció de les obres de la Germandat de Jesús i Maria</td>
<td>10.600,00€</td>
<td>RAMON CASTELL MONFORT</td>
<td>13/05/2017</td>
</tr>
<tr>
<td>2017/2643</td>
<td>Subministraments</td>
<td>Contracte menor ampliació potència nova biblioteca Deltebre.</td>
<td>5.619,59€</td>
<td>ELECTRICA DEL EBRO SL</td>
<td>13/05/2017</td>
</tr>
<tr>
<td>201/2617</td>
<td>Serveis</td>
<td>Contracte menor del servei de subministrament, muntatge i desmuntatge, en règim de lloguer, de so i llum per a l&#39;edició de la Mostra de Gastronomia i Turisme Mescla</td>
<td>4.340,00€</td>
<td>GRUP AUDIOVISUAL LIVE EVENS SL</td>
<td>16/05/2017</td>
</tr>
<tr>
<td>2017/2359</td>
<td>Subministraments</td>
<td>Contracte menor de subministrament de quadre elèctric i potència Deltebredansa</td>
<td>9.188,78€</td>
<td>ELECTRICA DEL EBRO SL</td>
<td>16/05/2017</td>
</tr>
<tr>
<td>2017/2617</td>
<td>Serveis</td>
<td>Contracte menor del servei de subministrament, muntatge i desmuntatge, en règim de lloguer, de so i llum per a l&#39;edició de la Mostra de Gastronomia i Turisme Mescla</td>
<td>4.340,00€</td>
<td>GRUP AUDIOVISUAL LIVE EVENS SL</td>
<td>16/05/2017</td>
</tr>
<tr>
<td>2017/0989</td>
<td>Serveis</td>
<td>Contracte menor d&#39;avantprojecte, projecte executiu i direcció d&#39;obra d&#39;urbanització de l&#39;àmbit de la biblioteca</td>
<td>8.600,00€</td>
<td>M6 Arquitectura 2003, SLP</td>
<td>17/05/2017</td>
</tr>
<tr>
<td>2017/2608</td>
<td>Serveis</td>
<td>Contracte menor lloguer de carpes fira multisectorial + fira gastronòmica 2017</td>
<td>14.100,00€</td>
<td>Grupo Maestrat Carpas Espectaculos y Eventos, SL</td>
<td>17/05/2017</td>
</tr>
<tr>
<td>2017/2751</td>
<td>Serveis</td>
<td>Contracte menor serveis retirada boies referents al contracte abalisament platges 2016.</td>
<td>2.900,00€</td>
<td>Excomarbla SLU</td>
<td>04/06/2017</td>
</tr>
<tr>
<td>2017/2546</td>
<td>Serveis</td>
<td>Contracte menor de serveis de redacció de projecte de pantalà al riu Ebre per a l&#39;Ajuntament de Deltebre.</td>
<td>1.999,90€</td>
<td>Albacar Enginyers, SLP</td>
<td>06/06/2017</td>
</tr>
<tr>
<td>2017/4059</td>
<td>Serveis</td>
<td>Contracte menor serveis assitència jurídica</td>
<td>11.600,00€</td>
<td>URBAN PLANNING CONSULTANTS, SL</td>
<td>06/06/2017</td>
</tr>
<tr>
<td>2017/2878</td>
<td>Serveis</td>
<td>Contracte menor serveis de senyalització horitzontal zona blava i altres 2017</td>
<td>1.707,00€</td>
<td>SEPITAR 2016, SL</td>
<td>08/06/2017</td>
</tr>
<tr>
<td>2017/2748</td>
<td>Obres</td>
<td>Contracte menor d&#39;obres d&#39;adequació de l&#39;edifici municipal del C. Ramon y Cajal</td>
<td>10.647,21€</td>
<td>J.J. SORRIBES CONSTRUCCIONS, SL</td>
<td>15/06/2017</td>
</tr>
<tr>
<td>2017/3652</td>
<td>Serveis</td>
<td>Contracte de serveis tècnics de redacció d&#39;un text refós del projecte d&#39;urbanització, direcció facultativa d&#39;obres, direcció de l&#39;execució de les obres i coordinació de seguretat i salut del sector UA3 de Deltebre</td>
<td>10.354,50€</td>
<td>Seare Reus Enginyeria, S.L.</td>
<td>28/06/2017</td>
</tr>
<tr>
<td>2017/3655</td>
<td>Serveis</td>
<td>Contracte menor desplaçament i soterrament línia aèria de baixa tensió existent situada en l&#39;edifici Mobles Delta en C/Dr. Marti Buera amb Avinguda Goles de l&#39;Ebre de Deltebre, Baix Ebre, Tarragona</td>
<td>6.782,00€</td>
<td>RIUGEST</td>
<td>04/07/2017</td>
</tr>
<tr>
<td>2017/3834</td>
<td>Serveis</td>
<td>Contracte menor de serveis d&#39;elaboració del programa de prevenció de delictes penals (compilance)</td>
<td>7.500,00€</td>
<td>FAD LEGAL BOUTIQUE SL PROFESIONAL</td>
<td>04/07/2017</td>
</tr>
<tr>
<td>2017/4852</td>
<td>Serveis</td>
<td>Contracte bous Festes Majors 2017 - Ganaderia Hermanos Ozco Garcia, SC</td>
<td>3.000,00€</td>
<td>Hermanos Ozcoz Gracia SC</td>
<td>05/07/2017</td>
</tr>
<tr>
<td>2017/4857</td>
<td>Serveis</td>
<td>Contracte bous Festes Majors 2017 - Ramaderia Hilario Princep</td>
<td>1.000,00€</td>
<td>Hilario Princep Martínez</td>
<td>05/07/2017</td>
</tr>
<tr>
<td>2017/3492</td>
<td>Serveis</td>
<td>Contracte menor de serveis per a la recollida i control dels animals abandonats, perduts o ensalvatgits i de control dels animals salvatges urbans</td>
<td>5.000,00€</td>
<td>SERPROANIMAL</td>
<td>06/07/2017</td>
</tr>
<tr>
<td>2017/3632</td>
<td>Serveis</td>
<td>Contracte menor assessorament jurídic</td>
<td>9.000,00€</td>
<td>JORDI MONTANYA MIAS</td>
<td>11/07/2017</td>
</tr>
<tr>
<td>2017/3642</td>
<td>Serveis</td>
<td>Contracte manteniment de les emissores de la Policia Local</td>
<td>605,19€</td>
<td>ZENON DIGITAL RADIO. S.L</td>
<td>11/07/2017</td>
</tr>
<tr>
<td>2017/4849</td>
<td>Serveis</td>
<td>Contracte bous Festes Majors 2017 - Gran Prix</td>
<td>1.074,38€</td>
<td>ESPECTACULOS AGB SLU</td>
<td>11/07/2017</td>
</tr>
<tr>
<td>2017/4853</td>
<td>Serveis</td>
<td>Contracte bous Festes Majors 2017 - Alberto Dilla Vidal</td>
<td>1.300,00€</td>
<td>Alberto Dilla Vidal</td>
<td>11/07/2017</td>
</tr>
<tr>
<td>2017/4855</td>
<td>Serveis</td>
<td>Contracte bous Festes Majors 2017 - Pedro Jesús Domínguez Esparta</td>
<td>3,000.00€</td>
<td>PEDRO JESUS DOMINGUEZ ESPARTA</td>
<td>04/08/2017</td>
</tr>
<tr>
<td>2017/4851</td>
<td>Serveis</td>
<td>Contracte bous Festes Majors 2017 - Ganaderia Hermanos Marcen Romero SC</td>
<td>2.500,00€</td>
<td>HERMANOS MARCEN ROMERO SC</td>
<td>08/08/2017</td>
</tr>
<tr>
<td>2017/4854</td>
<td>Serveis</td>
<td>Contracte bous Festes Majors 2017 - Ganaderia La Paloma SL</td>
<td>2.500,00€</td>
<td>GANADERIA LA PALOMA SL</td>
<td>08/08/2017</td>
</tr>
<tr>
<td>2017/4856</td>
<td>Serveis</td>
<td>Contracte bous Festes Majors 2017 - José Arriazu Sada e hijos</td>
<td>991,74€</td>
<td>JOSE ARRIAZU SADA E HIJOS</td>
<td>09/08/2017</td>
</tr>
<tr>
<td>2017/4550</td>
<td>Subministraments</td>
<td>Comanda subministrament d&#39;aires condicionats</td>
<td>4.480,00€</td>
<td>EBREQUALITAT SA</td>
<td>10/08/2017</td>
</tr>
<tr>
<td>2017/4722</td>
<td>Serveis</td>
<td>Comanda per pintar la façana de la Cambra Arrossera</td>
<td>8.260,46€</td>
<td>RULL SERVEIS DE PINTURA I RETOLACIÓ, SL</td>
<td>10/08/2017</td>
</tr>
<tr>
<td>2017/4850</td>
<td>Serveis</td>
<td>Contracte bous Festes Majors 2017 - Ganaderia Germán Vidal</td>
<td>5.000,00€</td>
<td>German Vidal Segarra</td>
<td>10/08/2017</td>
</tr>
<tr>
<td>2017/3655</td>
<td>Serveis</td>
<td>Contracte menor desplaçament i soterrament línia aèria de baixa tensió existent situada en l&#39;edifici Mobles Delta en C/Dr. Marti Buera amb Avinguda Goles de l&#39;Ebre de Deltebre, Baix Ebre, Tarragona</td>
<td>6.782,00 €</td>
<td>RIUGEST</td>
<td>04/07/2017</td>
</tr>
<tr>
<td>2017/3834</td>
<td>Serveis</td>
<td>Contracte menor de serveis d&#39;elaboració del programa de prevenció de delictes penals (compilance)</td>
<td>7.500,00 €</td>
<td>FAD LEGAL BOUTIQUE SL PROFESIONAL</td>
<td>04/07/2017</td>
</tr>
<tr>
<td>2017/4852</td>
<td>Serveis</td>
<td>Contracte bous Festes Majors 2017 - Ganaderia Hermanos Ozco Garcia, SC</td>
<td>3.000,00 €</td>
<td>Hermanos Ozcoz Gracia SC</td>
<td>05/07/2017</td>
</tr>
<tr>
<td>2017/4857</td>
<td>Serveis</td>
<td>Contracte bous Festes Majors 2017 - Ramaderia Hilario Princep</td>
<td>1.000,00 €</td>
<td>Hilario Princep Martínez</td>
<td>05/07/2017</td>
</tr>
<tr>
<td>2017/3492</td>
<td>Serveis</td>
<td>Contracte menor de serveis per a la recollida i control dels animals abandonats, perduts o ensalvatgits i de control dels animals salvatges urbans</td>
<td>5.000,00 €</td>
<td>SERPROANIMAL</td>
<td>06/07/2017</td>
</tr>
<tr>
<td>2017/3632</td>
<td>Serveis</td>
<td>Contracte menor assessorament jurídic</td>
<td>9.000,00 €</td>
<td>JORDI MONTANYA MIAS</td>
<td>11/07/2017</td>
</tr>
<tr>
<td>2017/3642</td>
<td>Serveis</td>
<td>Contracte manteniment de les emissores de la Policia Local</td>
<td>605,19 €</td>
<td>ZENON DIGITAL RADIO. S.L</td>
<td>11/07/2017</td>
</tr>
<tr>
<td>2017/4849</td>
<td>Serveis</td>
<td>Contracte bous Festes Majors 2017 - Gran Prix</td>
<td>1.074,38 €</td>
<td>ESPECTACULOS AGB SLU</td>
<td>11/07/2017</td>
</tr>
<tr>
<td>2017/4853</td>
<td>Serveis</td>
<td>Contracte bous Festes Majors 2017 - Alberto Dilla Vidal</td>
<td>1.300,00 €</td>
<td>Alberto Dilla Vidal</td>
<td>11/07/2017</td>
</tr>
<tr>
<td>2017/4855</td>
<td>Serveis</td>
<td>Contracte bous Festes Majors 2017 - Pedro Jesús Domínguez Esparta</td>
<td>3.000,00 €</td>
<td>PEDRO JESUS DOMINGUEZ ESPARTA</td>
<td>04/08/2017</td>
</tr>
<tr>
<td>2017/4851</td>
<td>Serveis</td>
<td>Contracte bous Festes Majors 2017 - Ganaderia Hermanos Marcen Romero SC</td>
<td>2.500,00 €</td>
<td>HERMANOS MARCEN ROMERO SC</td>
<td>08/08/2017</td>
</tr>
<tr>
<td>2017/4854</td>
<td>Serveis</td>
<td>Contracte bous Festes Majors 2017 - Ganaderia La Paloma SL</td>
<td>2.500,00 €</td>
<td>GANADERIA LA PALOMA SL</td>
<td>08/08/2017</td>
</tr>
<tr>
<td>2017/4856</td>
<td>Serveis</td>
<td>Contracte bous Festes Majors 2017 - José Arriazu Sada e hijos</td>
<td>991,74 €</td>
<td>JOSE ARRIAZU SADA E HIJOS</td>
<td>09/08/2017</td>
</tr>
<tr>
<td>2017/4550</td>
<td>Subministraments</td>
<td>Comanda subministrament d&#39;aires condicionats</td>
<td>4.480,00 €</td>
<td>EBREQUALITAT SA</td>
<td>10/08/2017</td>
</tr>
<tr>
<td>2017/4722</td>
<td>Serveis</td>
<td>Comanda per pintar la façana de la Cambra Arrossera</td>
<td>8.260,46 €</td>
<td>RULL SERVEIS DE PINTURA I RETOLACIÓ, SL</td>
<td>10/08/2017</td>
</tr>
<tr>
<td>2017/4850</td>
<td>Serveis</td>
<td>Contracte bous Festes Majors 2017 - Ganaderia Germán Vidal</td>
<td>5.000,00 €</td>
<td>German Vidal Segarra</td>
<td>10/08/2017</td>
</tr>
<tr>
<td>2017/3019</td>
<td>Obres</td>
<td>Contracte menor obres sala actes cultural i social</td>
<td>32.243,80€</td>
<td>ARQUES ROVIRA, SLU</td>
<td>04/10/2017</td>
</tr>
<tr>
<td>2017/5254</td>
<td>Serveis</td>
<td>Contracte menor redacció projecte obres de reforma i ampliació de dependències municipals per a un edifici destinat a Càritas a Deltebre</td>
<td>9.666,64€</td>
<td>VIELCA INGENIEROS, SA</td>
<td>04/10/2017</td>
</tr>
<tr>
<td>2017/6341</td>
<td>Serveis</td>
<td>Contracte menor assistència per a la redacció de la memoria social del pla d&#39;Ordenació Urbanística Municipal de Deltebre</td>
<td>4.130,00€</td>
<td>LAVOLA , 1981 S.A.</td>
<td>09/11/2017</td>
</tr>
<tr>
<td>2017/6007</td>
<td>Serveis</td>
<td>Contracte de serveis de direcció d&#39;obra d&#39;urbanització Riumar Fase III</td>
<td>17.800,00€</td>
<td>CIME GREEN ENGINEERING AND SAFETU SLP</td>
<td>11/11/2017</td>
</tr>
<tr>
<td>2017/6332</td>
<td>Serveis</td>
<td>Contracte menor de serveis per a topògraf per supervisió execució projecte Fase III de les obres d&#39;urbanització de Riumar Zona V de Deltebre</td>
<td>14.000,00€</td>
<td>JORDI FRANCH RIBES</td>
<td>16/11/2017</td>
</tr>
<tr>
<td>2017/6476</td>
<td>Serveis</td>
<td>Contractació del serveis tècnics de coordinació de seguretat i salut de l&#39;obra per execució projecte Fase III de les obres d&#39;urbanització de Riumar Zona V de Deltebre</td>
<td>16.000,00€</td>
<td>IGEA, SL</td>
<td>16/11/2017</td>
</tr>
<tr>
<td>2017/5594</td>
<td>Serveis</td>
<td>Contracte menor de serveis de comunicació i web</td>
<td>17.999,00€</td>
<td>DAVID CAPEL CATALAN</td>
<td>19/11/2017</td>
</tr>
<tr>
<td>2017/4638</td>
<td>Serveis</td>
<td>Contracte menor redacció projecte &quot;Porta Central&quot; - procediment concurs de projectes</td>
<td>9.445,00€</td>
<td>JOSEP SANCHEZ FERRE</td>
<td>22/11/2017</td>
</tr>
<tr>
<td>2017/6527</td>
<td>Serveis</td>
<td>Contracte redacció projecte urbanització UA1 Deltebre</td>
<td>9.200,00€</td>
<td>HIDROESTEAM SL</td>
<td>13/12/2017</td>
</tr>
</tbody>
</table>
</div>

<script>
        var coll = document.getElementsByClassName("collapsible_tm");
        var i;
        
        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active_tm");
            var content = this.nextElementSibling;
            if (content.style.maxHeight){
              content.style.maxHeight = null;
            } else {
              content.style.maxHeight = content.scrollHeight + "px";
            } 
          });
        }
</script>